section{
    width: 400px;
    height: 10px;
    margin: 40px auto;
    text-align: center;
}
#imagens img {
    max-width: 300px;
  }
figure{
    background-color: #F2EDED;
    border: 3px solid #111111;
}

figure {
padding: 5px;
}

figcaption {
    margin-top: 10px;
}

h1{
    padding: 5px;
    border-bottom: 2px solid #111111;
    background-color: gray;
    float: left;
}
h2{
    padding: 5px;
    border-bottom: 2px solid #111111;
    background-color: gray;
    float: right;
}